.chat-main__body-message__name
    = message.user.name
.chat-main__body-message__time
    = format_posted_time(message.created_at)
.chat-main__body-message__comment
    - if message.content.present?
    %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
