!!!
%html
  %body
    .notification
    .wrapper
    .side-bar
      .side-bar__header
        %h3.side-bar__header-name
          yu
        %ul.side-bar__header-lists
          %li.list1
            %a{:href => "/groups/new"}
              %i.fa.fa-pencil-square-o.icon
          %li.list2
            %a{:href => "/users/5642/edit"}
              %i.fa.fa-cog.icon
      .side-bar__groups
        .side-bar__group1
          .side-bar__group1-name
            test
          .side-bar__group1-message
            こんにちは！
        .side-bar__group2
          .side-bar__group2-name
            グループ名
          .side-bar__group2-message
            まだメッセージはありません。

    .chat-main
      .chat-main__header
        .chat-main__header-group
          .chat-main__header-group-name
            グループ名
          .chat-main__header-members
            Member :
            %i
            yu
        .chat-main__header-group-edit
          %a.chat-main__header-group-edit-button{:href => "groups/13992/edit"}Edit
      .chat-main__body
        .chat-main__body-message.clearfix
          .chat-main__body-message-top
            .chat-main__body-message-name
              yu
            .chat-main__body-message-time
              2018/04/19 02:45
          .chat-main__body-message-down
            .chat-main__body-message-comment
              こんにちは！

      .chat-main__footer
        .chat-main__footer-body
          %form{action: "", method: :post}
          %input{:type => "text", :placeholder => "type a message", :class => "text"}
          %input{:type => "submit", :value => "Send", :class => "submit"}
          %label{:class => "attachment"}
            = fa_icon "image"

