.notification {
  .notice {
    background-color: $blue-color;
    color: $white-color;
    text-align: center;
  }

  .alert {
    background-color: $orange-color;
    color: $white-color;
    text-align: center;
  }
}
