.chat-main {
  width: calc(100% - 300px);
  float: left;

  &__header {
     height:100px;
     border-bottom: 1px solid #eeeeee;
     padding:0 40px;

    &-group {
     float:left;

      &-name {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      padding-bottom: 15px;
      display: inline-block;
      }

      &-members {
        color: $gray-color;
        font-size: 12px;
      }

      &-edit {
        height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        position: absolute;
        top: 28px;
        right: 40px;
        border: 1px solid $blue-color;
        line-height: 40px;
      }
      &-edit-button {
        text-decoration: none;
        color: $blue-color;
      }
    }
  }
  &__body {
    background-color: #FAFAFA;
    height: calc(100vh - 90px);
    overflow: scroll;
    box-sizing: border-box;

    &-message-list {
      padding-top: 26px;
     padding-left: 40px;
    }

    &-message.clearfix {
      padding: 20px 0;
    }
    &-message-top {
      display: flex;
    }
    &-message-name {
      font-size: 16px;
      font-weight: bold;
      color: $black-color;
      float: left;
    }
    &-message-time {
      font-size: 12px;
      padding: 0 40px;
      float: left;
      color: $gray-color;
      }
    &-message-down {
      margin-top: 10px;
    }
    &-message-comment {
      font-size: 14px;
      color: $black-color;
      padding-bottom: 40px;
      clear: both;
      }
  }

  &__footer {
    background-color: #DDDDDD;
    width: calc(100vw - 300px);
    height: 90px;
    position: fixed;
    bottom: 0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    form {
        margin: 0 20px;
    }
    .input {
        border: none;
        width: calc( 100% - 130px);
        height: 50px;
        padding-left: 1em;
        float: left;
    }
    .submit {
        color: $white-color;
        background-color: $blue-color;
        width: 100px;
        height: 50px;
        text-align: center;
        border: none;
        float: right;
    }
    .attachment {
        position: relative;
        right: 125px;
        bottom: 40px;
        float: right;
    }
  }
}

