.side-bar {
  height: 100vh;
  width: 300px;
  float: left;

  &__header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;

    &-name {
      font-size: 16px;
      font-weight: bold;
      color: $white-color;
      display: inline-block;
    }

    &-lists {
      float: right;

      .list1 {
        display: inline-block;
      }
      .list2 {
        display: inline-block;
      }
      .fa {
        color: white;
      }
    }
  }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    }
    &__group1 {
      padding: 20px 0 40px;
      &-name {
        font-size: 15px;
        color: $white-color;
      }
      &-message {
        font-size: 11px;
        color: $white-color;
      }
    }
    &__group2 {
      padding: 20px 0 40px;
      &-name {
        font-size: 15px;
        color: $white-color;
      }
      &-message {
        font-size: 11px;
        color: $white-color;
      }
    }
}
